<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>1.0</string>
	<key>Name</key>
	<string>内部模式</string>
	<key>Description</key>
	<string>Description</string>
	<key>Hints</key>
	<array>
		<dict>
			<key>Content</key>
			<string>首先，定义一个包括以下任务的 `solveStair()` 函数：让角色上楼梯，然后收集宝石，转向，最终回到中心位置。</string>
		</dict>
	</array>
	<key>LiveViewMode</key>
	<string>VisibleByDefault</string>
	<key>LiveViewEdgeToEdge</key>
	<true/>
	<key>PosterReference</key>
	<string>LiveViewPoster.png</string>
	<key>PlaygroundLoggingMode</key>
	<string>Off</string>
	<key>MaximumSupportedExecutionSpeed</key>
	<string>Fastest</string>
</dict>
</plist>
